@page "/fetchdata"
@inject IPaymentMethodService PaymentMethods

<h1>Payment Methods</h1>

<p>This component demonstrates fetching data from the api.</p>

@if (paymentmethods == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Desc</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Desc</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var method in paymentmethods)
        {
            <tr>
                <td>@method.Description</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private IEnumerable<PaymentMethodVM> paymentmethods { get; set; } = new List<PaymentMethodVM>();

    protected override async Task OnInitializedAsync()
    {
        paymentmethods = (await PaymentMethods.GetAllPaymentMethods()).ToList();
    }
}
